player-connection-mode=Listen
player-connection-guid=687473267
player-connection-debug=0
player-connection-project-name=Module Finals
player-connection-ip=192.168.1.11
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6cd1788cae6c4e7b8018a9ec8735b43b
